body,
html {
  height: 100%;
  font-family: monospace;
  font-weight: 900;
}
.container {
  padding-top: 170px !important;
}
.social {
  padding-right: 10px;
}
ul{
  margin: 0px !important;
  display: inline-flex;
}
span{
  font-size: xxx-large;
}
